<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="http://localhost:3000/static/images/logo.webp" width="140" height="50" class="d-inline-block align-top" alt="">
    </a>
    <ul class="d-flex justify-content-start">
        <li><a href="/about">About</a></li>
        <li><a href="/discography">Discography</a></li>
        <li><a href="/photos">Photo gallery</a></li>
    </ul>
</nav>