<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:3000/static/styles/mystyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Memory Lane | About</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="http://localhost:3000">
            <img src="http://localhost:3000/static/images/logo.webp" width="140" height="50" class="d-inline-block align-top" alt="">
        </a>
        <ul class="d-flex justify-content-start">
            <li><a href="http://localhost:3000/about">About</a></li>
            <li><a href="http://localhost:3000/discography">Discography</a></li>
            <li><a href="http://localhost:3000/photos">Photo gallery</a></li>
        </ul>
    </nav>
    
    <div class="bg-image" ></div>
    
    <section id="bio" class="container">
        <h1>Elliott Smith</h1>
        <p>
            Steven Paul Smith (August 6, 1969 – October 21, 2003), known professionally as <strong>Elliott Smith</strong>, was an American singer-songwriter and multi-instrumentalist.
        </p>
        <p>
            Smith was born in Omaha, Nebraska, raised primarily in Texas, and lived much of his life in Portland, Oregon, where he gained popularity.<br>
            Smith's primary instrument was the guitar, though he also played piano, clarinet, bass guitar, drums, and harmonica. He had a distinctive vocal style, characterized by his <i>"whispery, spiderweb-thin delivery"</i>, and often used multi-tracking to create vocal layers, textures, and harmonies.
        </p>
        <p>
            After playing in the rock band <strong>Heatmiser</strong> for several years, Smith began his solo career in 1994, with releases on the independent record labels <strong>Cavity Search</strong> and <strong>Kill Rock Stars</strong> (KRS).<br>
            In 1997, he signed a contract with <strong>DreamWorks Records</strong>, for which he recorded his final two albums.
        </p>
        <p>
            Smith rose to mainstream prominence when his song <i>"Miss Misery"</i>—included in the soundtrack for the film <i>Good Will Hunting</i> (1997)—was nominated for the 1998 <strong>Academy Award for Best Original Song</strong>.<br>
            Smith was a heavy drinker and drug user, and was diagnosed with attention deficit hyperactivity disorder (ADHD) and depression.
        </p>
        <p>
            His struggles with drugs and mental illness affected his life and work, and often appeared in his lyrics. In 2003, aged 34, he died in Los Angeles, California, from two stab wounds to the chest. The autopsy evidence did not determine whether the wounds were self-inflicted.<br>
            At the time of his death, Smith was working on his sixth studio album, <i>From a Basement on the Hill</i>, which was posthumously produced and released in 2004. 
        </p>
    </section>
</body>
</html>