<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:3000/static/styles/mystyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Memory Lane | Discography</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="http://localhost:3000">
            <img src="http://localhost:3000/static/images/logo.webp" width="140" height="50" class="d-inline-block align-top" alt="">
        </a>
        <ul class="d-flex justify-content-start">
            <li><a href="http://localhost:3000/about">About</a></li>
            <li><a href="http://localhost:3000/discography">Discography</a></li>
            <li><a href="http://localhost:3000/photos">Photo gallery</a></li>
        </ul>
    </nav>
    
    <div class="bg-image" ></div>
    
    <section id="discography" class="container">
        <h1>Discography</h1>
        <h3>Studio albums</h3>
        <ul>
            <li>Roman Candle <span>(1994)</span></li>
            <li>Elliott Smith <span>(1995)</span></li>
            <li>Either/Or <span>(1997)</span></li>
            <li>XO <span>(1998)</span></li>
            <li>Figure 8 <span>(2000)</span></li>
        </ul>
        <h3>Posthumous studio albums</h3>
        <ul>
            <li>From a Basement on the Hill <span>(2004)</span></li>
        </ul>
        <h3>Compilation albums</h3>
        <ul>
            <li>New Moon <span>(2007)</span></li>
        </ul>
    </section>
</body>
</html>