<body>
    <section id="discography" class="container d-flex justify-content-around">
        <div>
            <h1>Discography</h1>
            <hr>
            <h3>Studio albums</h3>
            <ul>
                <li>Roman Candle <span>(1994)</span></li>
                <li>Elliott Smith <span>(1995)</span></li>
                <li>Either/Or <span>(1997)</span></li>
                <li>XO <span>(1998)</span></li>
                <li>Figure 8 <span>(2000)</span></li>
            </ul>
            <h3>Posthumous studio albums</h3>
            <ul>
                <li>From a Basement on the Hill <span>(2004)</span></li>
            </ul>
            <h3>Compilation albums</h3>
            <ul>
                <li>New Moon <span>(2007)</span></li>
            </ul>
        </div>
        <img class="img-small" src="/static/images/records.jpg" alt="Elliott Smith discography">
    </section>
</body>