<body>
    <section class="container d-flex flex-column align-items-center">
        <h1>Welcome on Memory Lane</h1>
        <hr>
        <h3 id="home-text">Navigate the website through the links in the navbar<br>to find out more about the late singer-songwriter Elliott Smith.</h3>
        <hr>
        <img class="img-small" src="/static/images/smith-home.jpg" alt="Elliott Smith">
    </section>
</body>