<body>
    <section id="ph-gallery" class="container d-flex">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/static/images/live-oscar.jpg" alt="Elliott Smith live oscar night">
            <div class="card-body">
              <h5 class="card-title"><i>Oscar night</i></h5>
              <hr>
              <p class="card-text">Elliott Smith performing at the 70th Academy Awards, March 23, 1998.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title"><i>Figure 8</i></h5>
            <hr>
            <p class="card-text">The iconic album cover of his last studio album, Figure 8.</p>
            </div>
            <img class="card-img-top" src="/static/images/figure-8.webp" alt="Figure 8 album cover">
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/static/images/heatmiser.jpg" alt="Heatmiser">
            <div class="card-body">
            <h5 class="card-title"><i>Heatmiser</i></h5>
            <hr>
            <p class="card-text">Elliott Smith (second from right) with his rock band Heatmiser. They'll be active until 1996.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title"><i>Jon Brion Show</i></h5>
            <hr>
            <p class="card-text">Elliott Smith (right), performing live on the Jon Brion show.</p>
            </div>
            <img class="card-img-top" src="/static/images/brion.jpg" alt="Jon Brion show">
        </div>
    </section>
</body>